services:
  clails-test:
    image: clails-test
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: clails_test_app
    volumes:
      - ./:/app
      - qlfiles:/qlot
    ports:
      - 4005:4005
    environment:
      - CLAILS_SQLITE3_DATABASE=
volumes:
  qlfiles:
