<% in-package :<%%= (@ project-name ) %%>/controllers/application-controller %>
<html>
<head>
  <meta charset="utf-8">
  <title><%%= (@ project-name ) %%></title>
</head>
<body>
    <h1>hello, this is clails</h1>
    <div>Implementation Type: <%= lisp-type (@ controller ) %></div>
    <div>Implementation Version: <%= lisp-version (@ controller) %></div>
</body>
</html>
