; -*- mode: lisp -*-
(in-package #:cl-user)
(defpackage #:<%= (@ project-name ) %>-system
  (:use #:asdf #:cl))
(in-package #:<%= (@ project-name ) %>-system)

(defsystem <%= (@ project-name ) %>
  :class :package-inferred-system
  :description ""
  :version "0.0.1"
  :author ""
  :license ""
  :pathname "app"
  :depends-on ("clails"
               "swank"
               ;; application server
               ;; clails uses clack, which does not bundle a server backend by default.
               ;; choose one of the following (see https://github.com/fukamachi/clack):
               "clack-handler-hunchentoot"
               ;; "clack-handler-wookie"
               ;; "clack-handler-toot"
               ;; "clack-handler-woo"
               "<%= (@ project-name ) %>/application-loader")
  :in-order-to ((test-op (test-op "<%= (@ project-name ) %>-test"))))

