;; <%= (@ current-datetime ) %> : add <%= (@ name ) %> controller
(setf clails/environment:*routing-tables*
      (append clails/environment:*routing-tables*
              '((:path "/<%= (@ name) %>"
                 :controller "<%= (@ project-name ) %>/controllers/<%= (@ name ) %>-controller:<<%= (@ name) %>-controller>"))))
