; -*- mode: lisp -*-
(in-package #:<%= (@ project-name ) %>-db)

(defmigration "<%= (@ name ) %>"
  (:up #'(lambda (connection)
           ;;
           nil)
   :down #'(lambda (connection)
             ;;
             nil)))
