; -*- mode: lisp -*-
(in-package #:<%= (@ project-name ) %>-db)

;; Uncomment and modify the following lines to seed your database with initial data.
;;
;; (save (make-record '<%= (@ project-name ) %>/models/user:<user>
;;                :name "user"
;;                :email "user@example.com"
;;                :password "password123"))

