name: ci

on:
  push:
    branches:
      - '**'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v4

    - name: run services
      run: docker compose -f docker-compose.test.yml up -d

    - name: run test
      run: docker compose -f docker-compose.test-runner.yml run --rm --entrypoint qlot clails-test exec rove /app/clails-test.asd
      env:
        CL_SOURCE_REGISTRY: ${{ github.workspace }}
        CLAILS_MIGRATION_DIR_0001: ${{ github.workspace }}/test/data/0001-migration-test
        CLAILS_MIGRATION_DIR_0002: ${{ github.workspace }}/test/data/0002-join-test
        CLAILS_MIGRATION_DIR_0003: ${{ github.workspace }}/test/data/0003-save-test
        CLAILS_MIGRATION_DIR_0004: ${{ github.workspace }}/test/data/0004-lock-test
        CLAILS_MIGRATION_DIR_0005: ${{ github.workspace }}/test/data/0005-default-value-test
        CLAILS_MIGRATION_DIR_0006: ${{ github.workspace }}/test/data/0006-transaction-test
        CLAILS_MIGRATION_DIR_0007: ${{ github.workspace }}/test/data/0007-migration-kaizen-test
        CLAILS_SQLITE3_DATABASE: ${{ github.workspace }}
        CLAILS_MYSQL_DATABASE: clails_test
        CLAILS_MYSQL_USERNAME: root
        CLAILS_MYSQL_PASSWORD: password
        CLAILS_MYSQL_HOST: mysql-test
        CLAILS_MYSQL_PORT: 3306
        CLAILS_POSTGRESQL_DATABASE: clails_test
        CLAILS_POSTGRESQL_USERNAME: clails_user
        CLAILS_POSTGRESQL_PASSWORD: password
        CLAILS_POSTGRESQL_HOST: postgresql-test
        CLAILS_POSTGRESQL_PORT: 5432
        TMPDIR: ${{ runner.temp }}
  e2e:
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Run E2E tests
      run: docker compose -f docker-compose.e2e.yml run --rm -v ${{ github.workspace }}:/app --entrypoint /bin/bash e2e-test /app/test/e2e/todo-app-e2e.sh


