; -*- mode: lisp -*-
(in-package #:cl-user)
(defpackage #:<%= (@ project-name) %>/config/database
  (:use #:cl)
  (:import-from #:clails/environment
                #:*project-environment*
                #:*project-dir*)
  (:import-from #:clails/util
                #:env-or-default
                #:env)
  (:import-from #:clails/model/impl/sqlite3)
  (:export #:initialize-database-config))
(in-package #:<%= (@ project-name ) %>/config/database)

(defun initialize-database-config ()
  (setf clails/environment:*database-config*
        `(:database :sqlite3
          :develop (:database-name ,(env-or-default "CLAILS_DB_NAME" (format nil "~A/tmp/<%= (@ project-name ) %>-develop.sqlite3" *project-dir*)))
          :test (:database-name ,(env-or-default "CLAILS_DB_NAME" (format nil "~A/tmp/<%= (@ project-name ) %>-test.sqlite3" *project-dir*)))
          :production (:database-name ,(env "CLAILS_DB_NAME")))))

(setf clails/environment:*database-type*
      (make-instance 'clails/environment::<database-type-sqlite3>))
