; -*- mode: lisp -*-
(in-package #:cl-user)
(defpackage #:<%= (@ project-name) %>/config/database
  (:use #:cl)
  (:import-from #:clails/environment
                #:*project-environment*)
  (:import-from #:clails/util
                #:env-or-default
                #:env)
  (:import-from #:clails/model/impl/postgresql)
  (:export #:initialize-database-config))
(in-package #:<%= (@ project-name ) %>/config/database)

(defun initialize-database-config ()
  (setf clails/environment:*database-config*
        `(:database :postgresql
          :develop (:database-name ,(env-or-default "CLAILS_DB_NAME" "<%= (@ project-name ) %>_development")
                    :host ,(env-or-default "CLAILS_DB_HOST" "localhost")
                    :port ,(env-or-default "CLAILS_DB_PORT" "5432")
                    :username ,(env-or-default "CLAILS_DB_USERNAME" "<%= (@ project-name ) %>")
                    :password ,(env-or-default "CLAILS_DB_PASSWORD" "password"))
          :test (:database-name ,(env-or-default "CLAILS_DB_NAME" "<%= (@ project-name ) %>_test")
                 :host ,(env-or-default "CLAILS_DB_HOST" "localhost")
                 :port ,(env-or-default "CLAILS_DB_PORT" "5432")
                 :username ,(env-or-default "CLAILS_DB_USERNAME" "<%= (@ project-name ) %>")
                 :password ,(env-or-default "CLAILS_DB_PASSWORD" "password"))
          :production (:database-name ,(env "CLAILS_DB_NAME")
                       :host ,(env "CLAILS_DB_HOST")
                       :port ,(env "CLAILS_DB_PORT")
                       :username ,(env "CLAILS_DB_USERNAME")
                       :password ,(env "CLAILS_DB_PASSWORD")))))

(setf clails/environment:*database-type*
      (make-instance 'clails/environment::<database-type-postgresql>))
