; -*- mode: lisp -*-
(in-package #:cl-user)
(defpackage #:<%= (@ project-name ) %>/config/environment
  (:use #:cl)
  (:import-from #:clails/environment
                #:*project-environment*
                #:*routing-tables*
                #:add-startup-hook
                #:add-shutdown-hook))

(in-package #:<%= (@ project-name ) %>/config/environment)

;; project name
(setf clails/environment:*project-name* "<%= (@ project-name ) %>")

;; project environment
(setf clails/environment:*project-environment* :develop)

(setf clails/environment:*routing-tables*
  '((:path "/"
     :controller "<%= (@ project-name )%>/controllers/application-controller:<application-controller>")))


;; startup hooks (run in registration order, after the framework's own default hooks)
(add-startup-hook "<%= (@ project-name) %>/config/logger:initialize-logger")
(add-startup-hook "clails/model/base-model:initialize-table-information")

;; shutdown hooks (run in registration order, after the framework's own default hooks)
(add-shutdown-hook "<%= (@ project-name) %>/config/logger:finalize-logger")
